<!DOCTYPE html>
<html>
<head>
	<title>Members</title>
</head>
<body>
	<h1>Members</h1>
    <form method="post" action="/members">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="favoriteFood">Favorite Food:</label>
        <input type="text" id="favoriteFood" name="favoriteFood">
        <input type="submit" value="Add">
    </form>
	<ul>
		{{range .MemberList}}
		<li>
			<a href="/members/{{.ID}}">{{.Name}}</a> 
			<form method="post" action="/delete/members/{{.ID}}">
				<input type="submit" value="Delete">
			</form>
		</li>
		{{end}}
	</ul>
</body>
</html>
